.calculator {
  width: 300px;
  margin: auto;
  font-family: 'Arial, sans-serif';
}

.display {
  background-color: #FF00FF;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 1.5em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #D9D919;
  border: 1px solid #ccc;
}
